<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniBite - Sign up</title>
    <link rel="stylesheet" href="../../Public/Styles/SignUp.css">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <div class="logo"><a href="../UniBite.html">UniBite.</a></div>
    <div class="nav-links">
        <a href="../Stores.html">Restaurants</a>
        <a href="../About-us.html">About Us</a>
        <a href="../Help.html">Help</a>
    </div>
    <button class="login-btn">Login</button>
</div>

<!-- SignUp Form Container -->
<div class="main-content">
    <div class="SignUp-container">
        <h2>Sign Up</h2>
        <form action="SignUp.php" method="POST" onsubmit="return validateEmail()">
            <input type="email" id="email" name="email" class="input-field" placeholder="example@miuegypt.edu.eg" required>
            <input type="tel" id="phone" name="phone" class="input-field" placeholder="Phone Number" required>
            <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
            <input type="password" id="password-repeat" name="password-repeat" class="input-field" placeholder="Repeat Password" required>
            <label class="termsAndConditions"> By creating an account you agree to the Privacy Policy and to the terms of use</label>
            <div class="button-container">
                <button type="submit" class="button">Sign Up</button>
                <button type="button" class="google-button" onclick="continueWithGoogle()">Continue with Google</button>
            </div>

            <div class="already-customer">
                <a href="Login.html">Already a customer?</a>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="logo">UniBite.</div>
    <div class="footer-links">
        <a href="#">Restaurants</a>
        <a href="#">About Us</a>
        <a href="#">Help</a>
    </div>
    <div class="credentials">© 2025 UniBite. All rights reserved.</div>
</div>

<script src="../../Public/JavaScript/EmailValidation.js"></script>

</body>
</html>
