<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniBite</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/Styles/Universalcss.css" />
</head>

<body>


<!-- Footer -->
<div class="footer">
    <div class="logo">UniBite.</div>
    <div class="credentials">© 2025 UniBite. All rights reserved.</div>
</div>

<!-- Scripts -->
<script src="/JavaScript/main.js"></script>

</body>
</html>

