<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>PAYSKY - Sample Code to make Transaction using JS function</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--<script src="https://cube.paysky.io:6006/js/LightBox.js?v=1.2"></script></script>-->
    <script src="https://grey.paysky.io:9006/LightboxNew/CallLightBoxByJS/Lightbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

    <script type="text/javascript">
        var AmountTrxn =  process.env.AmountTrxn;
        var MID =  process.env.MID;
        console.log("MID", MID);
        var TID = process.env.TID;
        var MerchantReference =  process.env.MerchantReference;
        var Secret =  process.env.Secretj
        var TrxDateTime =  new Date().toGMTString();
        var SecureHash =  generateSecureHash(TrxDateTime,AmountTrxn,MerchantReference,MID,TID,Secret);
        console.warn("Please Don't Used Secret on JavaScipt")
        Lightbox.Checkout.configure = {
            MID: MID,
            TID: TID,
            AmountTrxn: AmountTrxn,
            SecureHash:SecureHash,
            MerchantReference: MerchantReference,
            TrxDateTime:TrxDateTime,
            completeCallback: function (data) {
                console.log('completed');
                console.log(data);
            },

            errorCallback: function (error) {
                alert(error);
            },

            cancelCallback: function () {
                console.log('canceled');
            }

        };


        function showLightBox() {
            Lightbox.Checkout.showLightbox();
        }
        function generateSecureHash(time, amount, merchRef, merchantId, terminalId, secretKey) {
            const hashing = `Amount=${amount}&DateTimeLocalTrxn=${time}&MerchantId=${merchantId}&MerchantReference=${merchRef}&TerminalId=${terminalId}`;
            // Convert the hexadecimal secret key to a WordArray
            const secretKeyWordArray = CryptoJS.enc.Hex.parse(secretKey);
            // Create an HMAC using SHA-256
            const hmac = CryptoJS.HmacSHA256(hashing, secretKeyWordArray);
            // Convert the HMAC to a hexadecimal string
            const hmacHex = hmac.toString(CryptoJS.enc.Hex);

            return hmacHex.toUpperCase();
        }
    </script>
</head>

<body>
<button onclick="showLightBox()">
    Make Transaction
</button>
</body>
</html>


