
main {
    text-align: center;
    padding: 0px 0px;
}



.background {
    width: 100%; 
    height: 100vh; 
    background: url('../Images/back.jpeg') no-repeat center / cover;
    color: white; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.title h1 {
    font-family: 'Inter', sans-serif; 
    font-size: 90px; 
    color: #000;
}
.title h2 {
    font-family: 'Inter', sans-serif; 
    font-size: 45px; 
    color: #000;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.main-product{
    margin: 5%;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    text-align: left; 
    gap: 10%; 

}


.main-product-image {
    display: flex;
    justify-content: flex-start; 
    width: 40%;
}

.main-product-image img {
    width: 100%; 
    height: auto; 

    aspect-ratio: 1 / 1; 
    object-fit: cover; 
    border-radius: 6px; 
}

.main-product-details {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    align-self: center;
}
.price{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-align: left;
}

.main-product-details .description{
    font-size: 16px;
    color: #828282;
}
.addToCart{
    width: 100%;
    background-color: #FF4B33;
    color: white;
    padding: 10px 20px; 
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    text-align: center; 
    display: inline-block; 

}

.related-products{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    margin: 5%;
}
.related-product:hover{
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}


.related-products-container{
    display: flex;
    justify-content: left;
    flex-direction: row; 
    align-items: flex-start;
    text-align: left;
    gap: 3%;
}

.related-products img{
    width: 100%; 
    height: auto; 
    object-position: center; 
    aspect-ratio: 4 / 3;
    object-fit: cover; 
    border-radius: 6px; 
    box-shadow: 10px 10px 26px 2px rgba(0, 0, 0, 0.25);

}


