
html, body {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #5d5a5a;


}

header h1,h2{
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    color: #000;

}


header nav {
    display: flex;
    width: 97%;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;

}

header nav ul {

    list-style: none;
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    height: 100%;

}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;


}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav div {
    display: flex;
    gap: 10px;
}

nav img{
    width: 2%;
    height: auto;
    aspect-ratio: 1/1;

}
nav img:hover{
    cursor: pointer;
}

.sidebar {
    position: fixed; /* Sticks to the left side */
    left: 0;
    width: 3%; /* Adjust the width as needed */
    height: 100vh; /* Full height of the viewport */
    background-color: #333; /* Dark background */
    color: white;
    padding: 20px;
    overflow-y: auto; /* Allows scrolling if content overflows */
    display: inline-block;
    align-items: center;
    text-align: left;
}


.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #575757; /* Hover effect */
}

.sidebar-button{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: left;
    margin-top: 10px;

}
.sidebar-button:hover{
    cursor: pointer;
    background-color: rgb(255,255,255,0.1);
}