:root {
    --brandOrange: #FF4B33;
}
body {
    font-family: Inter, sans-serif; /*Setting default font*/
    font-weight: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up the full viewport height */
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #F7F7F7;
}

header h1 {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    color: #000;
}

header nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.logo a{
    color: #000000;
    text-decoration: none;

}

header nav ul {

    list-style: none;
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    height: 100%;

}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;


}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav div {
    display: flex;
    gap: 10px;
}

header nav div button {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px; /* To round the edges of the button*/
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);

    border: none;

}

button{
    transition: opacity 0.2s ease-in-out;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;

}

nav .singUp{
    background-color: var(--brandOrange);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px; /* To round the edges of the button*/
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);

    border: none;
}
nav .logIn{
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px; /* To round the edges of the button*/
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);

    border: none;
}

.logIn{
    background-color: #F7F7F7;
    color: black;
    text-decoration: none;
    padding: 22px 55px;
    border-radius: 10px; /* To round the edges of the button*/
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);

    border: none;
}

.singUp{
    background-color: var(--brandOrange);
    text-decoration: none;
    padding: 22px 55px;
    border-radius: 10px; /* To round the edges of the button*/
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);

    border: none;
}
body{
    margin: 0;
}


/* FOOTER STYLING */


.footer {
    background: rgba(20, 20, 20, 0.9);
    color: white;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: auto;
}


.footer .logo {
    font-size: 22px;
    font-weight: bold;
}


.footer .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 40px;
}

.footer .footer-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    transition: color 0.3s ease;
}

.footer .footer-links a:hover {
    color: #FF4B33;
}


.footer .credentials {
    font-size: 14px;
    opacity: 0.7;
}