<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product Details</title>
  <link rel="stylesheet" href="../../Public/Styles/ProductDetails.css">
  <link rel="stylesheet" href="../../Public/Styles/Universalcss.css">
</head>

<body>
<header>
  <h1 class="logo"><a href="../UniBite.html">UniBite.</a></h1>
  <nav>
    <ul>
      <li><a href="../Stores.html">Restaurants</a></li>
      <li><a href="../About-us.html">About us</a></li>
      <li><a href="../Help.html">Help</a></li>
    </ul>
    <div>
      <button class="singUp" onclick="window.location.href='SignUp.html'">Sign up</button>
      <button class="logIn" onclick="window.location.href='Login.html'">Log in</button>
    </div>
  </nav>
</header>

<main>

  <section class="main-product">
    <div class="main-product-image">
      <img src="../../Public/Images/KiriFalafel.png" alt="KiriFalafel">
    </div>
    <div class="main-product-details">
      <h1>Kiri Falafel Sandwich</h1>
      <p class="price">30 EGP</p>
      <p class="description">Delicious falafel sandwich filled with kiri cheese</p>
      <button class="addToCart">Add to cart</button>
    </div>
  </section>

  <section class="related-products">
    <h2>Related Products</h2>
    <div class="related-products-container">
      <div class="related-product">
        <img src="../../Public/Images/KiriFalafel.png" alt="KiriFalafel">
        <h3>Kiri Falafel Sandwich</h3>
        <p class="price">30 EGP</p>
        <button class="addToCart">Add to cart</button>
      </div>
      <div class="related-product">
        <img src="../../Public/Images/KiriFalafel.png" alt="KiriFalafel">
        <h3>Kiri Falafel Sandwich</h3>
        <p class="price">30 EGP</p>
        <button class="addToCart">Add to cart</button>
      </div>
      <div class="related-product">
        <img src="../../Public/Images/KiriFalafel.png" alt="KiriFalafel">
        <h3>Kiri Falafel Sandwich</h3>
        <p class="price">30 EGP</p>
        <button class="addToCart">Add to cart</button>
      </div>

    </div>
  </section>
  <!-- Footer -->
  <div class="footer">
    <div class="logo">UniBite.</div>
    <div class="footer-links">
      <a href="#">Restaurants</a>
      <a href="#">About Us</a>
      <a href="#">Help</a>
    </div>
    <div class="credentials">© 2025 UniBite. All rights reserved.</div>
  </div>

</main>
</body>
</html>
