<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <link rel="stylesheet" href="/Styles/Products.css">
  <link rel="stylesheet" href="/Styles/Universalcss.css">

</head>

<%- include('../partials/navbar.ejs') %>
<body>
<section class="Storeshow">
  <div class="StoreEX">
    <h1 class="store-name">My Corner</h1>
    <h2 class="store-cuisine"> Foul and Falafel</h2>
  </div>
</section>


<!-- end of store show -->
<section class="trending-products">
  <details>
    <summary>Trending Products</summary>
    <div class="trending-products-container">
      <div class="trending-product">
        <img src="/Images/KiriFalafel.png" alt="KiriFalafel">
        <h3>Kiri Falafel Sandwich</h3>
        <p class="price">30 EGP</p>
      </div>
      <div class="trending-product">
        <img src="/Images/KiriFalafel.png" alt="KiriFalafel">
        <h3>Kiri Falafel Sandwich</h3>
        <p class="price">30 EGP</p>
      </div>
      <div class="trending-product">
        <img src="/Images/KiriFalafel.png" alt="KiriFalafel">
        <h3>Kiri Falafel Sandwich</h3>
        <p class="price">30 EGP</p>
      </div>
    </div>
  </details>
</section>














<section class="products-list">
  <h2>Products</h2>
  <div class="products-list-container">
    <div class="product">
      <img src="/Images/KiriFalafel.png" alt="KiriFalafel">
      <h3>Kiri Falafel Sandwich</h3>
      <p class="price">30 EGP</p>
      <button class="addToCart">Add to cart</button>
    </div>
    <div class="product">
      <img src="/Images/KiriFalafel.png" alt="KiriFalafel">
      <h3>Kiri Falafel Sandwich</h3>
      <p class="price">30 EGP</p>
      <button class="addToCart">Add to cart</button>
    </div>
    <div class="product">
      <img src="/Images/KiriFalafel.png" alt="KiriFalafel">
      <h3>Kiri Falafel Sandwich</h3>
      <p class="price">30 EGP</p>
      <button class="addToCart">Add to cart</button>
    </div>
  </div>
</section>

<%- include('../partials/Footer.ejs') %>

<script src="/JavaScript/ProductsJS.js"></script>








</body>
</html>